@media screen and (min-width: 300px) {
    .box2 {
        margin-left: 35%;
    }
    .item3 img {
        margin-left: 25%;
    }
}

@media screen and (min-width: 500px) {
    .box2 {
        margin-left: 40%;
    }
    .item3 img {
        margin-left: 35%;
    }
    .block3 .item4 {
        height: 300px;
    }
}

@media screen and (min-width: 700px) {
    .block1 {
        height: 300px;
        -webkit-background-size: 1000px;
        background-size: 1000px;
    }
    .box1 {
        width: 50%;
    }
}

@media screen and (min-width: 750px) {
    .box2 {
        float: left;
        margin-left: 5%;
    }
    .block2 .item2 {
        height: 150px;
    }
}

@media screen and (min-width: 800px) {
    .block1 {
        height: 400px;
        -webkit-background-size: 1200px;
        background-size: 1200px;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        width: 70%;
        display: inline-block;

        background: transparent;
        margin-right: 100px;
    }
    .menu ul li {
        display: inline-block;
        border-bottom: none;
        font-size: 20px;
        float: right;
        margin-top: -40px;

    }
    .menu ul li a {
        color: #6c6c6c;
        border-bottom: 3px solid transparent;
        padding: 0px 0px 15px 15px;
    }
    .menu ul li a:hover {
        border-bottom: 3px solid #5094f2;
    }
    .block3{
    	height: 400px;
    }
    .item3 {
        width: 45%;
        float: left;
    }
    .item4 {
        float: right;
        width: 50%;
    }
    .item4 h4 {
        font-size: 26px;
        margin-top: 70px;
    }
    .item4 p {
        font-size: 14px;
    }
    .box1{
    	width:50%;
    	margin-top: 60px;
    }
    .box1 h2{
    	font-size: 42px;
    }
    .box1 p{
    	font-size: 26px;
    }
}