body {
    font-family: 'Arial', sans-serif;
    background: #fff;
    font-size: 14px;
}

.wrapper {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    height: 90px;
}

.header-top {
    overflow: hidden;
}

.logo img {
    height: 50px;
    width: 200px;
    float: left;
    margin-top: 10px;
}


.menu-btn {
    padding: 10px;
    position: relative;
    width: 55px;
    height: 55px;
    background: #5094f2;
    float: right;
}

.menu-btn span {
    position: absolute;
    left: 50%;
    top: 22px;
    width: 36px;
    height: 5px;
    background: #fff;
    margin-left: -18px;
}

.menu-btn::before,
.menu-btn::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0;
    width: 36px;
    height: 5px;
    left: 50%;
    margin-left: -18px;
}

.menu-btn::before {
    top: 12px;
}

.menu-btn::after {
    top: 32px;
}

.menu {
    display: none;
    background: #5094f2;
    float: right;
    width: 190px;
    padding: 10px;
    margin-left: 80px;
    position: absolute;
    top: 55px;
    right: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    border-bottom: 1px solid #fff;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    color: #FFF;
    padding: 10px 5px;
}

.menu ul li a:hover {
    opacity: 0.7;
}

.block1 {
    height: 250px;
    background: url(../img/Prechu.jpg) 30% 0% no-repeat;
    -webkit-background-size: 700px;
    background-size: 700px;
}

.box1 {
    width: 60%;
    width: 220px;
    float: right;
}

.box1 h2 {
    font-size: 26px;
    color: #fff;
    font-weight: normal;
}

.box1 p {
    font-size: 20px;
    color: #fff;
}

.box1 a {
    background: #5094f2;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.box1 a:hover {
    opacity: 0.7;
}

.box1 img {
    padding-top: -8px;
    margin-right: 5px;
    vertical-align: middle;
}

.block2 .item2 {
    width: 100%;
    height: 300px;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 20px 15px 10px 15px;
}

.block2 .item2 h3 {
    font-size: 34px;
    color: #5094f2;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.block2 .item2 p {
    font-size: 18px;
    color: #a6a6a6;
    text-align: center;
}

.box2 {
    margin-left: 30%;
}

.fa:hover {
    opacity: 0.5;
}

.fa.fa-pencil {
    width: 110px;
    height: 110px;
    font-size: 70px;
    background: #5094f2;
    color: #fff;
    border-radius: 50%;
    padding: 20px 25px;
}

.fa.fa-television {
    width: 110px;
    height: 110px;
    font-size: 70px;
    background: #d94748;
    color: #fff;
    border-radius: 50%;
    padding: 25px 20px;
}

.fa.fa-birthday-cake {
    width: 110px;
    height: 110px;
    font-size: 70px;
    background: #ebbb11;
    color: #fff;
    border-radius: 50%;
    padding: 20px 20px;
}

.block3 .item3 {
    height: 300px;
}

.item3 h2 {
    font-size: 42px;
    color: #6f7173;
    text-align: center;
    font-weight: normal;
}

.item3 img {
    margin-left: 15%;
}

.block3 .item4 {
    height: 450px;
    padding: 0px 15px 0px 25px;
}

.item4 h4 {
    font-size: 34px;
    color: #6f7173;
    font-weight: normal;
    margin: 0;
}

.item4 p {
    font-size: 17px;
    color: #909090;
    line-height: 25px;
}
footer {
    border-top: 1px solid #ccc;
    text-align: center;
}

footer p {
    color: #909090;
}

footer a {
    text-decoration: none;
    color: #909090;
}

footer a:hover {
    text-decoration: underline;
}